<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Loreta's Café"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">

        <!-- Main Activity (Login Screen) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Reset Password Activity (Email Entry) -->
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />

        <!-- OTP Verification Activity -->
        <activity
            android:name=".OtpVerificationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".ResetPasswordActivity" />

        <!-- New Password Activity -->
        <activity
            android:name=".NewPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".OtpVerificationActivity" />

        <!-- Password Success Activity -->
        <activity
            android:name=".PasswordSuccessActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>

</manifest>